*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg, #0f172a, #1e293b);
}

/* Calculator Box */
.calculator{
    background:rgba(255,255,255,0.05);
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

/* Display */
#display{
    width:100%;
    height:60px;
    font-size:25px;
    margin-bottom:15px;
    text-align:right;
    padding:10px;
    border:none;
    border-radius:10px;
    background:#020617;
    color:#38bdf8;
}

/* Buttons Grid */
.buttons{
    display:grid;
    grid-template-columns: repeat(4, 70px);
    gap:10px;
}

/* Buttons */
button{
    height:60px;
    border:none;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
    background:#1e293b;
    color:white;
    transition:0.3s;
}

/* Hover */
button:hover{
    background:#38bdf8;
    color:black;
    transform:scale(1.05);
}

/* Zero button */
.zero{
    grid-column: span 2;
}